@model Nps.Models.NpsCalc

@{
    ViewData["Title"] = "Nps";
}

@{
    if (Model == null)
    {
        <div class="text-center">
            <h3>Net Promoter Score</h3>
            <p class="text-info h4">
                É uma metodologia usada para medir a satisfação do público. <br />
                O objetivo é avaliar o quão “recomendável” a sua empresa é através da chamada Pergunta Definitiva: <br />
                <strong>“De 0 a 10, qual a chance de você recomendar a nossa empresa para um amigo?”.</strong> <br />
                Esse método de pesquisa é bastante eficiente para descobrir se o cliente está satisfeito com os produtos e serviços oferecidos, <br />
                pois ninguém indicaria algo que considera ruim para alguém de quem gosta. <br />
                Por meio da resposta, é possível compreender melhor fatores racionais e emocionais que permeiam a experiência de compra.
            </p>
            <h3>Cálculo do tamanho da amostra:</h3>
            <p class="text-info h4">
                Primeiramente, precisamos calcular o <strong>tamanho</strong> da amostra necessária de acordo com a sua quantidade total de clientes. <br />
                Isso garante a eficiência estatística da sua pesquisa. Entre com o número de sua base de consumidores:
            </p>
        </div>
        <div class="row" align="center">
            <div>
                <form asp-action="SampleSize">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Customers" class="control-label"></label>
                        <input asp-for="Customers" class="form-control" style="width:150px" />
                        <span asp-validation-for="Customers" class="text-danger h5"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        if (Model.Customers != 0)
        {
            <div class="row text-center">
                <h3>Cálculo do tamanho da amostra:</h3>
                <p class="text-info h4">
                    Muito bem! Você precisará de uma amostra de <strong>@Model.Customers</strong> clientes. <br />
                    Dados apontam que em média um a cada quatro clientes responde aos questionários enviados. <br />
                    Dessa forma você precisará mandar <strong>@Model.Sends()</strong> mensagens.
                </p>
                <h3>Cálculo do tamanho do NPS:</h3>
                <p class="text-info h4">
                    Uma vez que recebermos as respostas dos usuários, precisamos dividi-los em três categorias de acordo com suas notas:
                </p>
                <div class="row h4" align="center">
                    <div>
                        <form asp-action="CalcNps">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-4">
                                <div>
                                    <img src="~/images/promoters.jpg" />
                                </div>                                 <label asp-for="Promoters" class="control-label text-success">Promotores: notas 9 ou 10</label>
                                <input asp-for="Promoters" class="form-control" value="" style="width:150px" />
                                <span asp-validation-for="Promoters" class="text-danger h5"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <div>
                                    <img src="~/images/neutrals.jpg" />
                                </div>                                 <label asp-for="Neutrals" class="control-label text-warning">Neutros: notas 7 ou 8</label>
                                <input asp-for="Neutrals" class="form-control" value="" style="width:150px" />
                                <span asp-validation-for="Neutrals" class="text-danger h5"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <div>
                                    <img src="~/images/detractors.jpg" />
                                </div>                                <label asp-for="Detractors" class="control-label text-danger"> Detratores: notas de 0 a 6</label>
                                <input asp-for="Detractors" class="form-control" value="" style="width:150px" />
                                <span asp-validation-for="Detractors" class="text-danger h5"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Calcular NPS" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        }
        else
        {
            <br />
            <div class="row text-center">
                <p class="h4 text-info">Com base nas suas informações, obtivemos os seguintes resultados:</p>
                <div class="panel-info text-center col-md-4 col-md-offset-4">
                    <div class="panel-heading h3">
                        Indicadores do NPS:
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover text-info">
                            <tr>
                                <th>Valor do NPS:</th>
                                <td>@Html.DisplayName(Model.NPS() + "%")</td>
                            </tr>
                            <tr>
                                <th class="bg-info">Estatísticas para 95% de confiança:</th>
                                <td class="bg-info"></td>
                            </tr>
                            <tr>
                                <th>Margem de erro:</th>
                                <td>@Html.DisplayName(Model.MoeNPS95().ToString("F2") + "%")</td>
                            </tr>
                            <tr>
                                <th>Intervalo confiança:</th>
                                <td>@Html.DisplayName("[" + Model.Interval95()[0] + ", " + Model.Interval95()[1] + "]")</td>
                            </tr>
                            <tr>
                                <th class="bg-info">Estatísticas para 99% de confiança:</th>
                                <td class="bg-info"></td>
                            </tr>
                            <tr>
                                <th>Margem de erro:</th>
                                <td>@Html.DisplayName(Model.MoeNPS99().ToString("F2") + "%")</td>
                            </tr>
                            <tr>
                                <th>Intervalo de confiança:</th>
                                <td>@Html.DisplayName("[" + Model.Interval99()[0] + ", " + Model.Interval99()[1] + "]")</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <a asp-action="Index" class="btn btn-info">Novo cálculo</a>
            </div>
        }

    }



}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
